
body {
    margin: 50px;
    background-color: beige;   
}

div.espai50 {
    height: 50px;
}

div.columna {
    display: inline-block;

}

button {
    margin: 0 50px;
}

div#output {
    background-color: white;
    height: 40px;
    min-width: 100px;
}